<a href="https://colab.research.google.com/github/GurkiratSarna/CE888-Decision-Making-UoE/blob/master/Lab_5/helper_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from IPython.display import Image
#defines how to display floating , array, numpy objects
np.set_printoptions(precision = 3)

In [4]:
df = pd.read_csv('jester-data-1.csv')
print(df)

       74  -7.82   8.79  -9.66  -8.16  ...  99.22  -5.63  99.23  99.24  99.25
0     100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
1      49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
2      48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3      91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60
4     100  -6.17  -3.54   0.44  -8.50  ...  -3.35   0.05  -9.08  -5.05  -3.45
...   ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
8953   51  99.00  99.00  99.00  99.00  ...  99.00   5.58   2.23  99.00  99.00
8954  100   3.98   7.82  -0.29   2.38  ...   5.15   5.10   4.37  -9.85   6.02
8955   68   3.16  -4.71  -4.22  99.00  ...  99.00  99.00  99.00  99.00  99.00
8956   55  99.00  -3.59  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
8957  100   7.00    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN

[8958 rows x 101 columns]

In [5]:
arr = df.values
print(arr.shape)

(8958, 101)

In [8]:
rated = np.where(arr!=99)
print(type(rated))
print(rated)
print(len(rated[0]), rated[1].shape)

<class 'tuple'>
(array([   0,    0,    0, ..., 8957, 8957, 8957]), array([  0,   1,   2, ...,  98,  99, 100]))
657147 (657147,)

In [0]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(arr!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [0]:
new_arr, idx = replace(arr, 0.1)

In [16]:
arr[idx[0][0], idx[1][0]]

-8.98

In [17]:
new_arr[idx[0][0], idx[1][0]]

99.0